body {
    background-color: #a5f;
    margin: 20px;
}

.inline {
    display: inline-flex;
    margin-bottom: 20px;
}

.container {
    background-color: #7700FF;
    text-align: center;
    width: 700px;
    height: 100px;
    margin: 0 auto;
    color: #ccc;
    border: 3px solid #000;
    margin-left: 600px;
}

.button {
    display: inline-flex;
    margin-left: 740px;
}

button {
    width: 150px;
    font-size: 28px;
    background-color: #3333FF;
    color: white;
    margin-left: 10px;
    padding: 2px;
}


h2 {
    font-weight: bold;
    font-size: 50px;
    margin: 15px
}

.list {
    background-color: #a5a;
    border: 6px double darkblue;
    margin: 20px 200px;
    padding-bottom: 20px;
}

.burger,
.steak,
.wings {
    display: inline-flex;
}

.burger p,
.wings p,
.steak p {
    font-size: 44px;
    font-weight: bold;
    background-color: #b5b;
    color: #333;
    border: 6px dotted #bbb;
    width: 950px;
    height: 210px;
    margin-left: 40px;
    margin-top: -10px;
    padding: 30px;
}

.steak p {
    width: 850px;
}

.button.bottom {
    margin-left: 1495px;
}

#titles {
    font-size: 45px;
    margin-left: 18px;
    padding: 20px;
} 

img {
    width: auto;
    height: 300px;
    margin-left: 20px;
    margin-top: -20px;
}


.title {
    color: #EDEDED;
    font-weight: bold;
    height: 70px;
    font-size: 60px;
}

.burgerbody {
    font-size: 20px;
    text-align: center;
    background-color: beige;
    font-weight: bold;    
}

.burgerbody.burger {
    font-size: 60px;
    font-weight: bold;
    color: #CC00FF;
}

.burgersteps {
    color: blue;
}

.burgeringredients {
    color: green;
}

.paragraphs {
    color: red;
}

.burgerh3 {
    color: white;
    background-color: #00AA00;
    font-size: 44px;
}

.steakh3 {
    font-size: 44px;
}

.burgerh3-2 {
    background-color: red;
    color: white;
    font-size: 44px;
}

.wingsparas {
    color: orange;
}

.wingsingredients {
    color: turquoise
}

.wingssteps {
    color: darkviolet
}

.wingstitle {
    font-size: 60px;
    font-weight: bold;
    color: #AA3033;
}

.burgerbody .wingsh3 {
    font-size: 44px;
    background-color: #F1F1F1;
    color: #222222;   
}

#steak {
    background-color: #ffaa00;
    color: #5c4033
}

body h3 {
    background-color: #eeeeee;
}

.steaktitle {
    font-size: 60px;
    font-weight: bold;
    color: #5c4033
}