.list {
    font-size: 50px;
    background-color: #ffffff;
    text-align: center;
}

img {
    width: auto;
    height: 300px;
}

.container {
    background-color: #7700FF;
    height: auto;
    text-align: center;
}

.title {
    color: #EDEDED;
    font-weight: bold;
    height: 70px;
    font-size: 60px;
}

button {
    font-size: 35px;
    background-color: #3333FF;
    color: white;
}

.burgerbody {
    font-size: 20px;
    text-align: center;
    background-color: beige;
    font-weight: bold;    
}

.burgerbody.burger {
    font-size: 60px;
    font-weight: bold;
    color: #CC00FF;
}

.burgersteps {
    color: blue;
}

.burgeringredients {
    color: green;
}

.paragraphs {
    color: red;
}

.burgerh3 {
    color: white;
    background-color: #00AA00;
    font-size: 44px;
}

.steakh3 {
    font-size: 44px;
}

.burgerh3-2 {
    background-color: red;
    color: white;
    font-size: 44px;
}

.wingsparas {
    color: orange;
}

.wingsingredients {
    color: turquoise
}

.wingssteps {
    color: darkviolet
}

.wingstitle {
    font-size: 60px;
    font-weight: bold;
    color: #AA3033;
}

.burgerbody .wingsh3 {
    font-size: 44px;
    background-color: #F1F1F1;
    color: #222222;   
}

#steak {
    background-color: #ffaa00;
    color: #5c4033
}

body h3 {
    background-color: #eeeeee;
}

.steaktitle {
    font-size: 60px;
    font-weight: bold;
    color: #5c4033
}